# .coveragerc to control coverage.py
[run]
branch = True
source = django_plpy
omit = */tests/*, */migrations/*, */urls.py, */settings.py, */asgi.py, manage.py, setup.py

[paths]
source =
    src/
    */site-packages/

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
skip_covered = True
fail_under=93
sort = Miss
ignore_errors = True
