name: Postgres PL/Python

#on:
#  release:
#    types: [published]

on:
  push:
    branches: [main]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    strategy:
      matrix:
        postgres-version: [10, 11, 12, 13]
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: thorinschiffer/postgres-plpython

    - name: Build and push Docker image for Postgres-${{ matrix.postgres-version }}
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        tags: thorinschiffer/postgres-plpython:${{ matrix.postgres-version }}
        labels: ${{ steps.meta.outputs.labels }}
        file: docker/Postgres${{ matrix.postgres-version }}.Dockerfile
